* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  background-color: grey;
  padding: 20px;
  font-size: 20px;
}

main {
  display: flex;
  margin: 50px 20px;
  justify-content: space-evenly;
  gap: 80px;
}

main section {
  flex: 1;
}

main aside {
  width: 300px;
  align-items: flex-end;
}

main p {
  line-height: 1.5;
  margin-top: 30px;
}

main aside h3 {
  background-color: coral;
  color: white;
  padding: 10px;
}

header {
  background-color: coral;
  padding: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

aside {
  background: lightgray;
  font-size: 20px;
}

.sideBar li {
  padding: 10px;
  border-bottom: 1px solid black;
  color: black;
  list-style: none;
}

ul {
  list-style-type: none;
}
